*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background: linear-gradient(90deg,
    rgb(8, 8, 8) 0%,
    rgb(73, 191, 238) 35%,
    rgb(165, 230, 255) 100%);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
h3{
    margin:20px 0;
}
select{
    width:600px;
    height:50px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 20px;
}
img{
    width: 900px;
    height:470px;
    margin-top: 30px;
    border-radius: 20px;
    
}
a{
    color:rgb(0, 0, 0);
    font-size: 30px;
}
    a:link, a:visited {
        text-decoration: none
        }
    a:hover {
        text-decoration: underline;
        color: #f00
        }
    a:active {
        text-decoration: none
        }

 @media  screen and (max-width:901px){
    
    img{
        width: 70%;
        height:40%;
    } 
    select{
        width:200px;
        height:30px;
        font-size: 15px;
        font-weight: bold;
    }
    h3{
        letter-spacing: 1px; 
         text-align: center;
         padding:0 10px;
        
    } 
    a{
        font-size: 20px;
    } 
    body{
        background: linear-gradient(90deg,
        rgb(255, 255, 255) 0.5%,
        rgb(163, 252, 247) 40%,
        rgb(43, 221, 245) 100%);
    }  
}